#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
#rootie {
  outline: 0px solid transparent;
  flex: 1; /* Allow rootie to grow and take up remaining space */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Optional: aligns children to the start */
  align-items: stretch; /* Optional: stretches children to take full width */
}
#lastChild{
  flex: 1; /* Allow rootie to grow and take up remaining space */
}

.itemText {
  outline: 0px solid transparent;
  border: none;
  background-color: transparent;
  justify-content: start;
}


.read-the-docs {
  color: #888;
}
